body {
    background: #211a1d;
    font: Montserrat;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#wo-list {
    list-style: none;
    padding: 0;
}

.wo-item {
    background: #8075ff;
    border-radius: 5px;
    color: #211a1d;
    font-size: 150%;
    text-align: center;
    margin: 10px;
    padding: 0px;
    width: 15%;
}

.wo-data {
    padding: 20px;
}
