/*
#F1DEDE
#BBACC1
#80727B
#909580
#545643
 */
body {
    background: #80727B;
    font: Montserrat;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#wo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wo-item {
    background: #909580;
    margin: 1px;
}
